.start-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.start-button-style {
  background-color: #15ac19;
  border-style: inset;
  border-color: #0f5013;
  color: black;
  padding: 1em 1.5em;
  text-align: center;
  display: inline-block;
  outline: none;
  font-size: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0.2em rgb(173, 167, 77);
}

.start-button-style:hover {
  background-color: #1a8321;
}

.start-button-style:active {
  background-color: #1e641e;
  transform: translateY(0.1em);
  box-shadow: 0 0.2em rgb(168, 166, 52);
  color: #b3b153;
}

.questionnaire-button {
  border: 1px solid green;
  cursor: pointer;
  float: none;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  display: inline-block;
  outline: none;
}

.questionnaire-button-style {
  background-color: Transparent;
  outline: none;
  height: 7em;
  width: 7em;
  background-size: 100%;
}

.questionnaire-button-style:disabled {
  background-color: transparent;
  filter: grayscale(1);
  filter: opacity(0.5);
  outline: none;
  height: 7em;
  width: 7em;
  background-size: 100%;
}

.nextpage-button {
  float: left;
  justify-content: center;
  margin-left: 2em;
  margin-top: 2em;
}

.nextpage-button-style {
  background-color: Transparent;
  background-image: url("https://img.icons8.com/plasticine/2x/circled-chevron-right.png");
  height: 8em;
  width: 8em;
  background-size: 100%;
  border: none;
}

.disabled-button-overlay {
  position: relative;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.story-image {
}

.story-image-style {
  display: block;
  margin-left: 6em;
  /*border-width: 1em;*/
  /*top: 20;*/
  width: 25em;
  margin-top: 1.5em;
  text-align: right;
  float: left;
  /*border-radius: 2em;*/
  border-style: solid;
  /*border-color: #2a4f73;*/
  
  
}

.text-area {
}

.text-area-style {
  display: block;
  position: relative;
  margin-left: 6em;
  background-color: aliceblue;
  width: 25em;
  /*height: 8em;*/
  float: left;
  text-align: center;
  padding:0.5em ;
  margin-top: 1.5em;
  padding-bottom: 2em;
  /*font-size: 1em;*/
  /*top: 6em;*/
  border-color: #014966;
  border-style: solid;
  
}

.questionnaire-text-area {
}

.questionnaire-text-area-style {
}

.print-button {
  margin-top: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
}

.print-button-style {
  background-color: #13b3f0;
  border-style: inset;
  border-color: #014966;
  color: black;
  outline: none;
  font-size: 1em;
  border-radius: 1em;
  box-shadow: 0 0.2em rgb(173, 167, 77);
  line-height: 4em;
  width: 2em;
  height: 2em;
  background-size: 100%;

}

.stipend-image {
  width: 60%;
  height: 60%;
}

.home-button{
  margin-top: 0.8em;
  position: absolute;
  top: 0;
  margin-left:39.9em;

}
